# Let's take a look at some hoot-larious games in the NFL.  
### We'll be looking at:  
- Games where no touchdowns were scored  
- Games where the winning team did not score a touchdown  
- Games where both teams scores were single digits 
***  
If anything, this will be useful to make sure we don't watch any boring games.
***

In [1]:
import pandas as pd
import numpy as np

In [2]:
#get a list of years
YEARS=list(range(1999,2021))
#get the list of data fields used
fields= ['game_id', 'touchdown', 'td_team', 'home_score','away_score', 'home_team','away_team','season']
displayfields = ['game_id','season', 'gamewinner', 'loser', 'score']

#create empty dataframes for each dataset
noTD = pd.DataFrame()
noTDwinner = pd.DataFrame()
singledigitgame = pd.DataFrame()

for i in YEARS:
    #read each file into a data set
    dataset = pd.read_csv(f'{i} nfl data.csv', usecols=fields)

    #add a column 'gamewinner' and populate
    #game winner, losers, tie
    dataset.loc[dataset['home_score'] > dataset['away_score'], 'gamewinner'] = dataset['home_team']
    dataset.loc[dataset['home_score'] < dataset['away_score'], 'gamewinner'] = dataset['away_team']
    dataset.loc[dataset['home_score'] == dataset['away_score'], 'gamewinner'] = 'tie'
    
    dataset.loc[dataset['home_score'] > dataset['away_score'], 'loser'] = dataset['away_team']
    dataset.loc[dataset['home_score'] < dataset['away_score'], 'loser'] = dataset['home_team']
    dataset.loc[dataset['home_score'] == dataset['away_score'], 'loser'] = 'tie'
    
    #create a score field
    dataset['score'] = np.where((dataset['home_score'] > dataset['away_score']) | \
        (dataset['home_score'] == dataset['away_score']), \
        (dataset["home_score"].astype(str) + " - " + dataset["away_score"].astype(str)), \
        (dataset["away_score"].astype(str) + " - " + dataset["home_score"].astype(str)))

    
    #df1 is the dataframe for all the games with zero touchdowns
    df1=pd.DataFrame(dataset.groupby(displayfields)['touchdown'].sum())
    df1=df1.loc[df1['touchdown']==0]
    df1.reset_index(inplace=True)
    
    #df2 is the dataframe for all games where the winning team did not score a TD
    df2= pd.DataFrame(dataset.groupby(displayfields)['td_team'].unique())
    df2.reset_index(inplace=True)

    #create a field ('flag'). If the game winner is in the 'td_team' field, populate 1. Otherwise, 0
    df2['flag'] = df2.apply(lambda x: int(x['gamewinner'] in x['td_team']), axis=1)

    #filter for all the zeros
    df2=df2.loc[df2['flag']==0]

    #df3 is for all games where the winning team scored since digits
    df3 = pd.pivot_table(dataset, index=['game_id', 'gamewinner','loser','score'])
    df3=df3.loc[(df3['away_score']<10) & (df3['home_score']<10) ]
    df3.reset_index(inplace=True)
    
    #concat datasets
    noTD = pd.concat([noTD, df1])
    noTDwinner = pd.concat([noTDwinner, df2])
    singledigitgame = pd.concat([singledigitgame, df3])
    
#delete all ties from noTDwinner
noTDwinner.drop(noTDwinner[noTDwinner['gamewinner'] == 'tie'].index, inplace = True)

#delete noTD games from noTDwinner
#noTDwinner = noTDwinner[~noTDwinner['game_id'].isin(noTD['game_id'])]

dfs = [noTD, noTDwinner, singledigitgame]
for i in dfs:
    i.reset_index(inplace=True, drop=True)

C:\Users\Anthony Celia\AppData\Local\Temp\ipykernel_8516\1133034709.py:14: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f'{i} nfl data.csv', usecols=fields)

## A List of Games Without a Touchdown

In [3]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: white !important;
}
</style>

In [4]:
noTD[displayfields]

            game_id  season gamewinner loser   score
0    1999_07_CHI_TB    1999         TB   CHI   6 - 3
1   1999_10_BAL_JAX    1999        JAX   BAL   6 - 3
2    1999_15_SD_MIA    1999        MIA   LAC  12 - 9
3    2000_03_PHI_GB    2000         GB   PHI   6 - 3
4   2000_05_BAL_CLE    2000        BAL   CLE  12 - 0
5   2001_01_SEA_CLE    2001        SEA   CLE   9 - 6
6    2001_14_NE_BUF    2001         NE   BUF  12 - 9
7   2002_03_SEA_NYG    2002        NYG   SEA   9 - 6
8    2002_08_TB_CAR    2002         TB   CAR  12 - 9
9    2002_17_TB_CHI    2002         TB   CHI  15 - 0
10  2003_01_IND_CLE    2003        IND   CLE   9 - 6
11   2003_08_CLE_NE    2003         NE   CLE   9 - 3
12  2003_11_BAL_MIA    2003        MIA   BAL   9 - 6
13  2003_15_PIT_NYJ    2003        NYJ   PIT   6 - 0
14  2004_03_ARI_ATL    2004        ATL   ARI   6 - 3
15  2006_01_SEA_DET    2006        SEA   DET   9 - 6
16   2006_02_KC_DEN    2006        DEN    KC   9 - 6
17  2006_02_PIT_JAX    2006        JAX   PIT   9 - 0
18   2006_09_MIN_SF    2006         SF   MIN   9 - 3
19  2006_19_IND_BAL    2006        IND   BAL  15 - 6
20  2007_12_MIA_PIT    2007        PIT   MIA   3 - 0
21  2007_15_BUF_CLE    2007        CLE   BUF   8 - 0
22  2009_05_CLE_BUF    2009        CLE   BUF   6 - 3
23   2009_06_KC_WAS    2009         KC   WAS  14 - 6
24   2010_08_GB_NYJ    2010         GB   NYJ   9 - 0
25  2011_07_SEA_CLE    2011        CLE   SEA   6 - 3
26   2012_05_BAL_KC    2012        BAL    KC   9 - 6
27   2012_15_KC_OAK    2012         LV    KC  15 - 0
28  2014_15_ARI_STL    2014        ARI    LA  12 - 6
29   2016_02_SEA_LA    2016         LA   SEA   9 - 3
30  2016_07_SEA_ARI    2016        tie   tie   6 - 6
31  2017_02_BUF_CAR    2017        CAR   BUF   9 - 3
32  2017_07_TEN_CLE    2017        TEN   CLE  12 - 9
33  2018_03_TEN_JAX    2018        TEN   JAX   9 - 6
34  2018_13_IND_JAX    2018        JAX   IND   6 - 0
35   2019_07_SF_WAS    2019         SF   WAS   9 - 0

## A List of Games Where the Winner Did Not Score a Touchdown

In [5]:
noTDwinner[displayfields]

            game_id  season gamewinner loser    score
0    1999_07_CHI_TB    1999         TB   CHI    6 - 3
1   1999_10_BAL_JAX    1999        JAX   BAL    6 - 3
2    1999_15_SD_MIA    1999        MIA   LAC   12 - 9
3   2000_02_WAS_DET    2000        DET   WAS  15 - 10
4    2000_03_PHI_GB    2000         GB   PHI    6 - 3
..              ...     ...        ...   ...      ...
63  2018_13_IND_JAX    2018        JAX   IND    6 - 0
64   2019_04_DAL_NO    2019         NO   DAL  12 - 10
65   2019_07_SF_WAS    2019         SF   WAS    9 - 0
66   2020_06_DEN_NE    2020        DEN    NE  18 - 12
67  2020_07_BUF_NYJ    2020        BUF   NYJ  18 - 10

[68 rows x 5 columns]

## A List of Games Where Neither Team Scored Double Digits

In [6]:
singledigitgame[displayfields]

            game_id  season gamewinner loser  score
0    1999_07_CHI_TB    1999         TB   CHI  6 - 3
1   1999_10_BAL_JAX    1999        JAX   BAL  6 - 3
2    2000_01_SD_OAK    2000         LV   LAC  9 - 6
3    2000_03_PHI_GB    2000         GB   PHI  6 - 3
4   2000_09_PIT_BAL    2000        PIT   BAL  9 - 6
5   2000_10_PIT_TEN    2000        TEN   PIT  9 - 7
6   2000_14_NYG_WAS    2000        NYG   WAS  9 - 7
7   2001_01_SEA_CLE    2001        SEA   CLE  9 - 6
8   2001_05_WAS_DAL    2001        DAL   WAS  9 - 7
9   2002_03_SEA_NYG    2002        NYG   SEA  9 - 6
10  2002_07_DAL_ARI    2002        ARI   DAL  9 - 6
11  2002_09_DAL_DET    2002        DET   DAL  9 - 7
12  2003_01_IND_CLE    2003        IND   CLE  9 - 6
13   2003_08_CLE_NE    2003         NE   CLE  9 - 3
14  2003_11_BAL_MIA    2003        MIA   BAL  9 - 6
15  2003_15_PIT_NYJ    2003        NYJ   PIT  6 - 0
16  2004_02_DEN_JAX    2004        JAX   DEN  7 - 6
17  2004_03_ARI_ATL    2004        ATL   ARI  6 - 3
18  2005_01_CHI_WAS    2005        WAS   CHI  9 - 7
19  2005_15_CLE_OAK    2005        CLE    LV  9 - 7
20  2006_01_SEA_DET    2006        SEA   DET  9 - 6
21   2006_02_KC_DEN    2006        DEN    KC  9 - 6
22  2006_02_PIT_JAX    2006        JAX   PIT  9 - 0
23   2006_09_MIN_SF    2006         SF   MIN  9 - 3
24   2006_16_MIN_GB    2006         GB   MIN  9 - 7
25   2007_05_BAL_SF    2007        BAL    SF  9 - 7
26  2007_12_MIA_PIT    2007        PIT   MIA  3 - 0
27  2007_15_BUF_CLE    2007        CLE   BUF  8 - 0
28  2009_02_STL_WAS    2009        WAS    LA  9 - 7
29  2009_05_CLE_BUF    2009        CLE   BUF  6 - 3
30  2009_11_WAS_DAL    2009        DAL   WAS  7 - 6
31   2010_08_GB_NYJ    2010         GB   NYJ  9 - 0
32   2010_14_GB_DET    2010        DET    GB  7 - 3
33  2011_07_SEA_CLE    2011        CLE   SEA  6 - 3
34   2011_17_KC_DEN    2011         KC   DEN  7 - 3
35   2012_05_BAL_KC    2012        BAL    KC  9 - 6
36   2012_08_SD_CLE    2012        CLE   LAC  7 - 6
37  2012_13_ARI_NYJ    2012        NYJ   ARI  7 - 6
38   2016_02_SEA_LA    2016         LA   SEA  9 - 3
39  2016_07_SEA_ARI    2016        tie   tie  6 - 6
40   2016_10_LA_NYJ    2016         LA   NYJ  9 - 6
41  2017_02_BUF_CAR    2017        CAR   BUF  9 - 3
42  2017_17_DAL_PHI    2017        DAL   PHI  6 - 0
43  2018_03_TEN_JAX    2018        TEN   JAX  9 - 6
44  2018_13_IND_JAX    2018        JAX   IND  6 - 0
45   2019_07_SF_WAS    2019         SF   WAS  9 - 0